{% extends "base.html" %}

{% block content %}
{% csrf_token %}
<form method="get" action="{% url 'search' %}">
  <div class="mx-auto flex justify-center items-center p-2 mt-10 md:p-0">
    <div class="border border-gray-300 p-6 grid grid-cols-1 gap-6 bg-white shadow-lg rounded-lg w-full md:w-1/2 ">
      <div class="flex flex-col md:flex-row">
        <div>
          {{ form.adults }}
        </div>
        <div class="pt-6 md:pt-0 md:pl-6">
          {{ form.class_type}}
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
        <div class="flex flex-col rounded">
          {{ form.origin.label }}
          {{ form.origin }}
          <datalist id="origin_list">
            {% for airport in airports %}
            <option value="{{ airport.city }}"></option>
                        {% endfor %}
                    </datalist>
                </div>
                <div class=" flex flex-col rounded">
              {{ form.destination.label }}
              {{ form.destination }}
              <datalist id="destination_list">
                {% for airport in airports %}
                <option value="{{ airport.city }}"></option>
                        {% endfor %}
                    </datalist>
                </div>
                <div class=" flex flex-col rounded">
                  {{ form.departure_date.label }}
                  {{ form.departure_date }}
        </div>
        <div class="flex flex-col rounded">
          {{ form.return_date.label }}
          {{ form.return_date }}
        </div>
      </div>
      <div class="flex justify-center"><button
          class="p-2 border w-1/4 rounded-md bg-blue-500 text-white font-bold">Search</button></div>
    </div>
  </div>
<form>

{% for offer in flight_offers %}
<div class="mt-4 w-full md:w-1/2 mx-auto text-center p-6 bg-white border border-gray-200 rounded-lg shadow">
  <div class="flex flex-col sm:flex-row justify-between">
    <div class="w-70 text-left">
      <h3 class="mb-2 text-2xl text-gray-600/50">Outbound</h3>
      <h5 class="mb-2 text-lg font-bold tracking-tight text-gray-900">
        {{ offer.0.first_departure_date }} Adolfo Suárez Madrid–Barajas {{ offer.0.first_departure_airport }}
      </h5>
      <h5 class="mb-2 text-sm font-bold tracking-tight text-blue-600">
        <span>&#8595;</span>Direct
      </h5>
      <h5 class="mb-2 text-lg font-bold tracking-tight text-gray-900">
        {{ offer.0.first_arrival_date}} Simón Bolívar International {{ offer.0.first_arrival_airport }}
      </h5>
      {% if offer.1 %}

      <h3 class="mb-2 text-2xl text-gray-600/50 ">Inbound</h3>
      <h5 class="mb-2 text-lg font-bold tracking-tight text-gray-900">
        {{ offer.1.first_departure_date }} Simón Bolívar International {{ offer.1.first_departure_airport }}
      </h5>
      <h5 class="mb-2 text-sm font-bold tracking-tight text-blue-600">
        <span>&#8595;</span>Direct
      </h5>
      <h5 class="mb-2 text-lg font-bold tracking-tight text-gray-900">
        {{ offer.1.first_arrival_date}} Adolfo Suárez Madrid–Barajas {{ offer.1.first_arrival_airport }}
      </h5>
      {% endif %}
    </div>
    <div class="text-center justify-center flex flex-col">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-green-500">
        {{ offer.0.price }}$
      </h5>
      <a href="#"
        class="inline-flex items-center px-3 py-2 text-3xl font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Book now
      </a>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}