{% extends "base.html" %}

{% block content %}
{% for ticket in tickets %}
<div class="mt-4 w-full md:w-1/2 mx-auto text-center p-6 bg-white border border-gray-200 rounded-lg shadow">
  <div class="flex flex-col sm:flex-row justify-between">
    <div class="w-70 text-left">
      <h5 class="mb-2 text-lg font-bold tracking-tight text-gray-900">
        {{ ticket.first_departure_date }} Adolfo Suárez Madrid–Barajas {{ ticket.first_departure_airport }}
      </h5>
      <h5 class="mb-2 text-sm font-bold tracking-tight text-blue-600">
        <span>&#8595;</span>Direct
      </h5>
      <h5 class="mb-2 text-lg font-bold tracking-tight text-gray-900">
        {{ ticket.first_arrival_date}} Simón Bolívar International {{ ticket.first_arrival_airport }}
      </h5>
    </div>
    <div class="text-center justify-center flex flex-col">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-green-500">
        {{ ticket.0.price }}$
      </h5>
      <form method="POST" action="{% url 'delete_ticket' %}">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{ ticket.id }}">
        <button type="submit"
          class="inline-flex items-center px-3 py-2 text-3xl font-medium text-center text-white bg-red-500 rounded-lg hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          DELETE
        </button>
      </form>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}